# My own Machine Learning project
I have chosen the Sales predictions there are 6 datasets, some of these are only descriptive. I hope this will be a fun challenge for me, and that I will learn a lot during this project.
### Imports

In [15]:
import numpy as np
import pandas as pd
import zipfile
import os

from six.moves import urllib

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

### setup

#### WARNING
Before you run this project, you need to download the order_products__prior.csv, this file was too large for GitHub even when compressed. And since you need a kaggle account to download the files, codes to do this only gave me permission denied. Therefore you'll need a kaggle account and this download link:
1. https://www.kaggle.com/c/instacart-market-basket-analysis/download/order_products__prior.csv

Then add it to the Datasets folder

In [18]:
%autosave 60
# uncompress set that was to big for GitHub uncompressed, but small enough when compressed
DATASETS_PATH = "Datasets"

# Function to fetch the data from url
def uncompress_orders(path=DATASETS_PATH):
    orders_path = os.path.join(path, "orders.csv.zip")
    orders_zip = zipfile.ZipFile(orders_path)
    orders_zip.extractall(path=path)
    orders_zip.close()

Autosaving every 60 seconds

In [20]:
uncompress_orders()

In [21]:
def load_set(csv_file):
    return pd.read_csv(os.path.join("Datasets", csv_file))

def load_all_sets():
    return (load_set("aisles.csv"), load_set("departments.csv"), load_set("order_products__prior.csv"),
            load_set("order_products__train.csv"), load_set("orders.csv"), load_set("products.csv"))

In [73]:
ailes, departments, prior_order, train_order, orders, products = load_all_sets()

## Clean data
We will now clean the data, we do this to avoid unnecessary values. And also to check and remove nullvalues. Our goal is to have all the data that is interesting to the algorithm, no more, no less.

In [23]:
ailes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
aisle_id    134 non-null int64
aisle       134 non-null object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [24]:
departments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
department_id    21 non-null int64
department       21 non-null object
dtypes: int64(1), object(1)
memory usage: 416.0+ bytes

In [25]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
product_id       49688 non-null int64
product_name     49688 non-null object
aisle_id         49688 non-null int64
department_id    49688 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [26]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [27]:
prior_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtypes: int64(4)
memory usage: 989.8 MB

In [28]:
train_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
order_id             1384617 non-null int64
product_id           1384617 non-null int64
add_to_cart_order    1384617 non-null int64
reordered            1384617 non-null int64
dtypes: int64(4)
memory usage: 42.3 MB

In [29]:
orders.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [30]:
prior_order.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [31]:
prior_order

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [32]:
train_order

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

After a quick look at the dataset I notice one thing
1. I think it is safe to remove the add_cart_to_order, since it is incrementing. So we can assume that the first item in the list is the first ordered, and the last element is the last ordered. But we should check if there is a single exception in the datasets.

In [36]:
# Figure out if there is an exception to the assumption above
def find_exceptions(order):
    index = 1
    nr_of_iterations = 1
    for i in order:
        if index > i:
            index = 1
            if index != i: 
                return ("Exception found at: number of iteration: ", nr_of_iterations,"Expected: ", index,"Got :" , i)
        elif index != i:
            return ("Exception found at: number of iteration: ", nr_of_iterations,"Expected: ", index,"Got :" , i)
        
        nr_of_iterations += 1
        index += 1
    return ("No exception where found")

In [37]:
find_exceptions(prior_order["add_to_cart_order"])

'No exception where found'

In [38]:
find_exceptions(train_order["add_to_cart_order"])

'No exception where found'

After seeing this I assume that the value of "add_to_cart_order" is irrelevant to the data so therefore I choose to remove it from the sets.

In [39]:
prior_order.drop("add_to_cart_order", axis=1, inplace=True)
prior_order.head()

   order_id  product_id  reordered
0         2       33120          1
1         2       28985          1
2         2        9327          0
3         2       45918          1
4         2       30035          0

In [40]:
train_order.drop("add_to_cart_order", axis=1, inplace=True)
train_order.head()

   order_id  product_id  reordered
0         1       49302          1
1         1       11109          1
2         1       10246          0
3         1       49683          0
4         1       43633          1

Now we'll split the sets into train and test, as been defined in the orders dataframe. I'll create a function that split these two sets from the train_order dataframe.

In [41]:
# Help method to find all orders with that ordernumber
def find_order(order_id, dataset):
    return dataset[dataset['order_id']==order_id]

In [ ]:
# Testing how dataframes operate
tester = pd.DataFrame()
tester = tester.append(find_order(2, prior_order))
tester

In [42]:
# This might not be the way at all, let's see how much time this is going to take: started 18:55
def create_sets(order_info=orders):
    test_set = pd.DataFrame()
    train_set = pd.DataFrame()
    for i in range(len(order_info)):
        if orders.iloc[i, 2]=="test":
            test_set = test_set.append(find_order(order_info.iloc[i, 0], train_order))
        elif orders.iloc[i, 2]=="train":
            train_set = train_set.append(find_order(order_info.iloc[i, 0], train_order))
    return test_set, train_set

In [43]:
sale_test_set, sale_test_set = create_sets()

KeyboardInterrupt:

In [89]:
def sale_test_get(order_info=orders):
    set_ = pd.DataFrame()
    for i in range(len(order_info)):
        if order_info.iloc[i, 2]=="test":          
            set_ = set_.append(find_order(order_info.iloc[i, 0], train_order))
        if i%100000==0:
            print(i/3421083 * 100, " percent done")
    return set_

In [88]:
sale_test_set = sale_test_get() # This is a bit of a slow process

0.0  percent done
2.9230509753782647  percent done
5.8461019507565295  percent done
8.769152926134796  percent done
11.692203901513059  percent done
14.615254876891322  percent done
17.53830585226959  percent done
20.461356827647855  percent done
23.384407803026118  percent done
26.30745877840438  percent done
29.230509753782645  percent done
32.153560729160915  percent done
35.07661170453918  percent done
37.99966267991744  percent done
40.92271365529571  percent done
43.84576463067397  percent done
46.768815606052236  percent done
49.6918665814305  percent done
52.61491755680876  percent done
55.53796853218703  percent done
58.46101950756529  percent done
61.384070482943564  percent done
64.30712145832183  percent done
67.23017243370009  percent done
70.15322340907836  percent done
73.07627438445662  percent done
75.99932535983488  percent done
78.92237633521316  percent done
81.84542731059142  percent done
84.76847828596968  percent done
87.69152926134794  percent done
90.61458023672621  percent done
93.53763121210447  percent done
96.46068218748273  percent done
99.383733162861  percent done

In [93]:
# This is the version that does both at once, but it doesn't work, soo back to the drawing board
def train_test_split(order_info=orders):
    train_set = pd.DataFrame()
    test_set = pd.DataFrame()
    for i in range(len(order_info)):
        if order_info.iloc[i, 2]=="train":          
            train_set = train_set.append(find_order(order_info.iloc[i, 0], train_order))
        elif order_info.iloc[i, 2]=="test":          
            test_set = test_set.append(find_order(order_info.iloc[i, 0], train_order))
        
        if i%100000==0:
            print(i/3421083 * 100, " percent done")
    return set_

In [92]:
sale_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 4 columns):
order_id             0 non-null int64
product_id           0 non-null int64
add_to_cart_order    0 non-null int64
reordered            0 non-null int64
dtypes: int64(4)
memory usage: 0.0 bytes